<!DOCTYPE html>
<html>
  <head>
    <title>Project Management</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery-ui.css">
    <link rel="stylesheet" href="/styles/jquery-ui.structure.css">
    <link rel="stylesheet" href="/styles/jquery-ui.theme.css">
    <link rel="stylesheet" href="/styles/tree.css">
    <!--STYLES END-->
  </head>

  <body>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-1.12.4.min.js"></script>
    <script src="/js/dependencies/jquery-ui.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.nicescroll.js"></script>
    <script src="/js/mousetrap.min.js"></script>
    <!--SCRIPTS END-->

    <!-- Application scripts.. React -->
    <div id="my-app"></div>
    <script src="/js-app/front-end-app.js"></script>
    <script src="http://localhost:8585/front-end-app.js"></script>
  </body>
</html>
