/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

@import "animation";
@import "layout";
@import "palette";

html, body, #my-app, .container, .container-fluid, .full-height{
  height: 100%;
}

body{
  /*font-family: "Consolas", monospace;*/
  color: @primaryTextColor;
  background-color: @lightPrimaryColor;
}

li{
  margin-bottom: 0.3em;
}

.btn{
  margin: 0 2px;
}

.ready-to-drop{
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #efefef;
}

//supaya nggak ndek-ndekan waktu di hovering..
p{
 line-height: 1.7em;
}

.meta{
  vertical-align: middle;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 0.3em;

  .CustomAvatar-image{
    margin-right: 1em;
  }

  .author{
    float: left
  }

  .datetime{
    float: right
  }
}