.flex {
  display: flex
}

.flex-horizontal {
  flex-direction: row;
}

.flex-vertical {
  flex-direction: column;
}

#tool-left {
  width: 35px;
}

#tool-top {
  height: 35px;
}

#page-content {
  flex: 1
}

#tasks-list{

}